openapi: '3.2.0'
info:
  title: ElevenLabs API Documentation
  description: 'This is the documentation for the ElevenLabs API. You can use this API to use our service programmatically, this is done by using your API key. You can find your API key in the dashboard at https://elevenlabs.io/app/settings/api-keys.'
  version: '1.0'
servers:
  - url: https://api.elevenlabs.io
paths:
  /v1/history:
    get:
      tags:
        - speech-history
      summary: List Generated Items
      description: Returns a list of your generated audio.
      operationId: get_speech_history
      parameters:
        - name: page_size
          in: query
          description: 'How many history items to return at maximum. Can not exceed 1000, defaults to 100.'
          schema:
            title: Page Size
            type: integer
            description: 'How many history items to return at maximum. Can not exceed 1000, defaults to 100.'
            default: 100
        - name: start_after_history_item_id
          in: query
          description: 'After which ID to start fetching, use this parameter to paginate across a large collection of history items. In case this parameter is not provided history items will be fetched starting from the most recently created one ordered descending by their creation date.'
          schema:
            title: Start After History Item Id
            anyOf:
              - type: string
              - type: 'null'
            description: 'After which ID to start fetching, use this parameter to paginate across a large collection of history items. In case this parameter is not provided history items will be fetched starting from the most recently created one ordered descending by their creation date.'
        - name: voice_id
          in: query
          description: 'Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices to receive a list of voices and their IDs.'
          schema:
            title: Voice Id
            anyOf:
              - type: string
              - type: 'null'
            description: 'Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices to receive a list of voices and their IDs.'
        - name: model_id
          in: query
          description: Model ID to filter history items by.
          schema:
            examples:
              - eleven_turbo_v2
              - eleven_multilingual_v2
            title: Model Id
            anyOf:
              - type: string
              - type: 'null'
            description: Model ID to filter history items by.
        - name: date_before_unix
          in: query
          description: Unix timestamp to filter history items before this date (exclusive).
          schema:
            examples:
              - 1640995200
            title: Date Before Unix
            anyOf:
              - type: integer
              - type: 'null'
            description: Unix timestamp to filter history items before this date (exclusive).
        - name: date_after_unix
          in: query
          description: Unix timestamp to filter history items after this date (inclusive).
          schema:
            examples:
              - 1640995200
            title: Date After Unix
            anyOf:
              - type: integer
              - type: 'null'
            description: Unix timestamp to filter history items after this date (inclusive).
        - name: sort_direction
          in: query
          description: Sort direction for the results.
          schema:
            examples:
              - desc
              - asc
            title: Sort Direction
            anyOf:
              - enum:
                  - asc
                  - desc
                type: string
              - type: 'null'
            description: Sort direction for the results.
            default: desc
        - name: search
          in: query
          description: search term used for filtering
          schema:
            examples:
              - In the land far far away
            title: Search
            anyOf:
              - type: string
              - type: 'null'
            description: search term used for filtering
        - name: source
          in: query
          description: Source of the generated history item
          schema:
            examples:
              - TTS
            title: Source
            anyOf:
              - enum:
                  - TTS
                  - STS
                type: string
              - type: 'null'
            description: Source of the generated history item
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpeechHistoryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: list
  '/v1/history/{history_item_id}':
    get:
      tags:
        - speech-history
      summary: Get History Item
      description: Retrieves a history item.
      operationId: get_speech_history_item_by_id
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            examples:
              - VW7YKqPnjY4h39yTbx2L
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechHistoryItemResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: get
    delete:
      tags:
        - speech-history
      summary: Delete History Item
      description: Delete a history item by its ID
      operationId: delete_speech_history_item
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            examples:
              - VW7YKqPnjY4h39yTbx2L
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteHistoryItemResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: delete
  '/v1/history/{history_item_id}/audio':
    get:
      tags:
        - speech-history
      summary: Get Audio From History Item
      description: Returns the audio of an history item.
      operationId: get_audio_full_from_speech_history_item
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            examples:
              - VW7YKqPnjY4h39yTbx2L
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: The audio file of the history item.
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: get_audio
  /v1/history/download:
    post:
      tags:
        - speech-history
      summary: Download History Items
      description: 'Download one or more history items. If one history item ID is provided, we will return a single audio file. If more than one history item IDs are provided, we will provide the history items packed into a .zip file.'
      operationId: download_speech_history_items
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Download_history_items_v1_history_download_post'
        required: true
      responses:
        '200':
          description: 'The requested audio file, or a zip file containing multiple audio files when multiple history items are requested.'
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: invalid_output_format
                message: output_format must be wav or none
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: download
  /v1/sound-generation:
    post:
      tags:
        - sound-generation
      summary: Sound Generation
      description: 'Turn text into sound effects for your videos, voice-overs or video games using the most advanced sound effects models in the world.'
      operationId: sound_generation
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
            title: Output format of the generated audio.
            $ref: '#/components/schemas/AllowedOutputFormats'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Sound_Generation_v1_sound_generation_post'
        required: true
      responses:
        '200':
          description: The generated sound effect as an MP3 file
          headers:
            character-cost:
              description: The number of characters used for billing
              schema:
                type: string
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_sound_effects
      x-fern-sdk-method-name: convert
  /v1/audio-isolation:
    post:
      tags:
        - audio-isolation
      summary: Audio Isolation
      description: Removes background noise from audio
      operationId: audio_isolation
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Audio_Isolation_v1_audio_isolation_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: audio_isolation
      x-fern-sdk-method-name: convert
  /v1/audio-isolation/stream:
    post:
      tags:
        - audio-isolation
      summary: Audio Isolation Stream
      description: Removes background noise from audio and streams the result
      operationId: audio_isolation_stream
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Audio_Isolation_Stream_v1_audio_isolation_stream_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: audio_isolation
      x-fern-sdk-method-name: stream
      x-fern-streaming: true
  '/v1/voices/{voice_id}/samples/{sample_id}':
    delete:
      tags:
        - samples
      summary: Delete Sample
      description: Removes a sample by its ID.
      operationId: delete_sample
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: sample_id
          in: path
          description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          required: true
          schema:
            examples:
              - VW7YKqPnjY4h39yTbx2L
            title: Sample Id
            type: string
            description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSampleResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: samples
      x-fern-sdk-method-name: delete
  '/v1/voices/{voice_id}/samples/{sample_id}/audio':
    get:
      tags:
        - samples
      summary: Get Audio From Sample
      description: Returns the audio corresponding to a sample attached to a voice.
      operationId: get_audio_from_sample
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: sample_id
          in: path
          description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          required: true
          schema:
            examples:
              - VW7YKqPnjY4h39yTbx2L
            title: Sample Id
            type: string
            description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            audio/*: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - voices
        - samples
        - audio
      x-fern-sdk-method-name: get
  '/v1/text-to-speech/{voice_id}':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech
      description: Converts text into speech using a voice of your choice and returns audio.
      operationId: text_to_speech_full
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            anyOf:
              - type: integer
              - type: 'null'
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - alaw_8000
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_128
              - mp3_44100_192
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - opus_48000_128
              - opus_48000_192
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - pcm_8000
              - ulaw_8000
              - wav_16000
              - wav_22050
              - wav_24000
              - wav_32000
              - wav_44100
              - wav_48000
              - wav_8000
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_text_to_speech_full'
        required: true
      responses:
        '200':
          description: The generated audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: convert
  '/v1/text-to-speech/{voice_id}/with-timestamps':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech With Timestamps
      description: Generate speech from text with precise character-level timing information for audio-text synchronization.
      operationId: text_to_speech_full_with_timestamps
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            anyOf:
              - type: integer
              - type: 'null'
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - alaw_8000
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_128
              - mp3_44100_192
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - opus_48000_128
              - opus_48000_192
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - pcm_8000
              - ulaw_8000
              - wav_16000
              - wav_22050
              - wav_24000
              - wav_32000
              - wav_44100
              - wav_48000
              - wav_8000
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_text_to_speech_full_with_timestamps'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioWithTimestampsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: convert_with_timestamps
  '/v1/text-to-speech/{voice_id}/stream':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech Streaming
      description: Converts text into speech using a voice of your choice and returns audio as an audio stream.
      operationId: text_to_speech_stream
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            anyOf:
              - type: integer
              - type: 'null'
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - ulaw_8000
              - alaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_text_to_speech_stream'
        required: true
      responses:
        '200':
          description: Streaming audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: stream
      x-fern-streaming: true
  '/v1/text-to-speech/{voice_id}/stream/with-timestamps':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech Streaming With Timestamps
      description: Converts text into speech using a voice of your choice and returns a stream of JSONs containing audio as a base64 encoded string together with information on when which character was spoken.
      operationId: text_to_speech_stream_with_timestamps
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            anyOf:
              - type: integer
              - type: 'null'
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - ulaw_8000
              - alaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_text_to_speech_stream_with_timestamps'
        required: true
      responses:
        '200':
          description: Stream of transcription chunks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingAudioChunkWithTimestampsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: stream_with_timestamps
      x-fern-streaming: true
  /v1/text-to-dialogue:
    post:
      tags:
        - text-to-dialogue
      summary: Text To Dialogue (Multi-Voice)
      description: Converts a list of text and voice ID pairs into speech (dialogue) and returns audio.
      operationId: text_to_dialogue
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - alaw_8000
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_128
              - mp3_44100_192
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - opus_48000_128
              - opus_48000_192
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - pcm_8000
              - ulaw_8000
              - wav_16000
              - wav_22050
              - wav_24000
              - wav_32000
              - wav_44100
              - wav_48000
              - wav_8000
            anyOf:
              - $ref: '#/components/schemas/NonStreamingOutputFormats'
              - $ref: '#/components/schemas/AllowedOutputFormats'
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_dialogue__multi_voice__v1_text_to_dialogue_post'
        required: true
      responses:
        '200':
          description: The generated audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_dialogue
      x-fern-sdk-method-name: convert
  /v1/text-to-dialogue/stream:
    post:
      tags:
        - text-to-dialogue
      summary: Text To Dialogue (Multi-Voice) Streaming
      description: Converts a list of text and voice ID pairs into speech (dialogue) and returns an audio stream.
      operationId: text_to_dialogue_stream
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
            title: Output format of the generated audio.
            $ref: '#/components/schemas/AllowedOutputFormats'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_dialogue__multi_voice__streaming_v1_text_to_dialogue_stream_post'
        required: true
      responses:
        '200':
          description: Streaming audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_dialogue
      x-fern-sdk-method-name: stream
      x-fern-streaming: true
  /v1/text-to-dialogue/stream/with-timestamps:
    post:
      tags:
        - text-to-dialogue
      summary: Text To Dialogue Streaming With Timestamps
      description: Converts a list of text and voice ID pairs into speech (dialogue) and returns a stream of JSON blobs containing audio as a base64 encoded string and timestamps
      operationId: text_to_dialogue_stream_with_timestamps
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
            title: Output format of the generated audio.
            $ref: '#/components/schemas/AllowedOutputFormats'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_text_to_dialogue_stream_with_timestamps'
        required: true
      responses:
        '200':
          description: Stream of transcription chunks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingAudioChunkWithTimestampsAndVoiceSegmentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_dialogue
      x-fern-sdk-method-name: stream_with_timestamps
      x-fern-streaming: true
  /v1/text-to-dialogue/with-timestamps:
    post:
      tags:
        - text-to-dialogue
      summary: Text To Dialogue With Timestamps
      description: Generate dialogue from text with precise character-level timing information for audio-text synchronization.
      operationId: text_to_dialogue_full_with_timestamps
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - alaw_8000
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_128
              - mp3_44100_192
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - opus_48000_128
              - opus_48000_192
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - pcm_8000
              - ulaw_8000
              - wav_16000
              - wav_22050
              - wav_24000
              - wav_32000
              - wav_44100
              - wav_48000
              - wav_8000
            anyOf:
              - $ref: '#/components/schemas/NonStreamingOutputFormats'
              - $ref: '#/components/schemas/AllowedOutputFormats'
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM and WAV formats with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_text_to_dialogue_full_with_timestamps'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioWithTimestampsAndVoiceSegmentsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_dialogue
      x-fern-sdk-method-name: convert_with_timestamps
  '/v1/speech-to-speech/{voice_id}':
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech
      description: 'Transform audio from one voice to another. Maintain full control over emotion, timing and delivery.'
      operationId: speech_to_speech_full
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            anyOf:
              - type: integer
              - type: 'null'
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - ulaw_8000
              - alaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post'
        required: true
      responses:
        '200':
          description: The generated audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: speech_to_speech
      x-fern-sdk-method-name: convert
  '/v1/speech-to-speech/{voice_id}/stream':
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech Streaming
      description: 'Stream audio from one voice to another. Maintain full control over emotion, timing and delivery.'
      operationId: speech_to_speech_stream
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            anyOf:
              - type: integer
              - type: 'null'
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_24000_48
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_32000
              - pcm_44100
              - pcm_48000
              - ulaw_8000
              - alaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post'
        required: true
      responses:
        '200':
          description: Streaming audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: speech_to_speech
      x-fern-sdk-method-name: stream
      x-fern-streaming: true
  /v1/text-to-voice/create-previews:
    post:
      tags:
        - text-to-voice
      summary: Generate A Voice Preview From Description
      description: Generate a custom voice based on voice description. This method returns a list of voice previews. Each preview has a generated_voice_id and a sample of the voice as base64 encoded mp3 audio. If you like the a voice previewand want to create the voice call /v1/text-to-voice/create-voice-from-preview with the generated_voice_id to create the voice.
      operationId: text_to_voice
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_192
            title: Output format of the generated audio.
            $ref: '#/components/schemas/AllowedOutputFormats'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoicePreviewsRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePreviewsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_voice
      x-fern-sdk-method-name: create_previews
  /v1/text-to-voice:
    post:
      tags:
        - text-to-voice
      summary: Create A New Voice From Voice Preview
      description: Create a voice from previously generated voice preview. This endpoint should be called after you fetched a generated_voice_id using POST /v1/text-to-voice/design or POST /v1/text-to-voice/:voice_id/remix.
      operationId: create_voice
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_a_new_voice_from_voice_preview_v1_text_to_voice_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_voice
      x-fern-sdk-method-name: create
  /v1/text-to-voice/design:
    post:
      tags:
        - text-to-voice
      summary: Design A Voice.
      description: Design a voice via a prompt. This method returns a list of voice previews. Each preview has a generated_voice_id and a sample of the voice as base64 encoded mp3 audio. To create a voice use the generated_voice_id of the preferred preview with the /v1/text-to-voice endpoint.
      operationId: text_to_voice_design
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_192
            title: Output format of the generated audio.
            $ref: '#/components/schemas/AllowedOutputFormats'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceDesignRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePreviewsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_voice
      x-fern-sdk-method-name: design
  '/v1/text-to-voice/{voice_id}/remix':
    post:
      tags:
        - text-to-voice
      summary: Remix A Voice.
      description: Remix an existing voice via a prompt. This method returns a list of voice previews. Each preview has a generated_voice_id and a sample of the voice as base64 encoded mp3 audio. To create a voice use the generated_voice_id of the preferred preview with the /v1/text-to-voice endpoint.
      operationId: text_to_voice_remix
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_192
            title: Output format of the generated audio.
            $ref: '#/components/schemas/AllowedOutputFormats'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceRemixRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePreviewsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_voice
      x-fern-sdk-method-name: remix
  '/v1/text-to-voice/{generated_voice_id}/stream':
    get:
      tags:
        - text-to-voice
      summary: Text To Voice Preview Streaming
      description: Stream a voice preview that was created via the /v1/text-to-voice/design endpoint.
      operationId: text_to_voice_preview_stream
      parameters:
        - name: generated_voice_id
          in: path
          description: The generated_voice_id to stream.
          required: true
          schema:
            examples:
              - 37HceQefKmEi3bGovXjL
            title: Generated Voice Id
            type: string
            description: The generated_voice_id to stream.
            unrecognizedKeywords:
              embed: true
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Streaming audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - text_to_voice
        - preview
      x-fern-sdk-method-name: stream
      x-fern-streaming: true
  /v1/user/subscription:
    get:
      summary: Get User Subscription Info
      description: Gets extended information about the users subscription
      operationId: get_user_subscription_info
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedSubscriptionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - user
        - subscription
      x-fern-sdk-method-name: get
  /v1/user:
    get:
      summary: Get User Info
      description: Gets information about the user
      operationId: get_user_info
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: user
      x-fern-sdk-method-name: get
  /v1/voices:
    get:
      tags:
        - voices
      summary: List Voices
      description: Returns a list of all available voices for a user.
      operationId: get_voices
      parameters:
        - name: show_legacy
          in: query
          description: 'If set to true, legacy premade voices will be included in responses from /v1/voices'
          schema:
            examples:
              - true
            title: Show Legacy
            anyOf:
              - type: boolean
              - type: 'null'
            description: 'If set to true, legacy premade voices will be included in responses from /v1/voices'
            default: false
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get_all
  /v2/voices:
    get:
      tags:
        - voices
      summary: Get Voices V2
      description: 'Gets a list of all available voices for a user with search, filtering and pagination.'
      operationId: get_user_voices_v2
      parameters:
        - name: next_page_token
          in: query
          description: The next page token to use for pagination. Returned from the previous request. Use this in combination with the has_more flag for reliable pagination.
          schema:
            examples:
              - '0'
            title: Next Page Token
            anyOf:
              - type: string
              - type: 'null'
            description: The next page token to use for pagination. Returned from the previous request. Use this in combination with the has_more flag for reliable pagination.
        - name: page_size
          in: query
          description: 'How many voices to return at maximum. Can not exceed 100, defaults to 10. Page 0 may include more voices due to default voices being included.'
          schema:
            title: Page Size
            type: integer
            description: 'How many voices to return at maximum. Can not exceed 100, defaults to 10. Page 0 may include more voices due to default voices being included.'
            default: 10
        - name: search
          in: query
          description: 'Search term to filter voices by. Searches in name, description, labels, category.'
          schema:
            title: Search
            anyOf:
              - type: string
              - type: 'null'
            description: 'Search term to filter voices by. Searches in name, description, labels, category.'
        - name: sort
          in: query
          description: 'Which field to sort by, one of ''created_at_unix'' or ''name''. ''created_at_unix'' may not be available for older voices.'
          schema:
            examples:
              - created_at_unix
            title: Sort
            anyOf:
              - type: string
              - type: 'null'
            description: 'Which field to sort by, one of ''created_at_unix'' or ''name''. ''created_at_unix'' may not be available for older voices.'
        - name: sort_direction
          in: query
          description: Which direction to sort the voices in. 'asc' or 'desc'.
          schema:
            examples:
              - desc
            title: Sort Direction
            anyOf:
              - type: string
              - type: 'null'
            description: Which direction to sort the voices in. 'asc' or 'desc'.
        - name: voice_type
          in: query
          description: 'Type of the voice to filter by. One of ''personal'', ''community'', ''default'', ''workspace'', ''non-default'', ''saved''. ''non-default'' is equal to all but ''default''. ''saved'' is equal to non-default, but includes default voices if they have been added to a collection.'
          schema:
            title: Voice Type
            anyOf:
              - type: string
              - type: 'null'
            description: 'Type of the voice to filter by. One of ''personal'', ''community'', ''default'', ''workspace'', ''non-default'', ''saved''. ''non-default'' is equal to all but ''default''. ''saved'' is equal to non-default, but includes default voices if they have been added to a collection.'
        - name: category
          in: query
          description: 'Category of the voice to filter by. One of ''premade'', ''cloned'', ''generated'', ''professional'''
          schema:
            title: Category
            anyOf:
              - type: string
              - type: 'null'
            description: 'Category of the voice to filter by. One of ''premade'', ''cloned'', ''generated'', ''professional'''
        - name: fine_tuning_state
          in: query
          description: 'State of the voice''s fine tuning to filter by. Applicable only to professional voices clones. One of ''draft'', ''not_verified'', ''not_started'', ''queued'', ''fine_tuning'', ''fine_tuned'', ''failed'', ''delayed'''
          schema:
            title: Fine Tuning State
            anyOf:
              - type: string
              - type: 'null'
            description: 'State of the voice''s fine tuning to filter by. Applicable only to professional voices clones. One of ''draft'', ''not_verified'', ''not_started'', ''queued'', ''fine_tuning'', ''fine_tuned'', ''failed'', ''delayed'''
        - name: collection_id
          in: query
          description: Collection ID to filter voices by.
          schema:
            title: Collection Id
            anyOf:
              - type: string
              - type: 'null'
            description: Collection ID to filter voices by.
        - name: include_total_count
          in: query
          description: 'Whether to include the total count of voices found in the response. NOTE: The total_count value is a live snapshot and may change between requests as users create, modify, or delete voices. For pagination, rely on the has_more flag instead. Only enable this when you actually need the total count (e.g., for display purposes), as it incurs a performance cost.'
          schema:
            examples:
              - true
            title: Include Total Count
            type: boolean
            description: 'Whether to include the total count of voices found in the response. NOTE: The total_count value is a live snapshot and may change between requests as users create, modify, or delete voices. For pagination, rely on the has_more flag instead. Only enable this when you actually need the total count (e.g., for display purposes), as it incurs a performance cost.'
            default: true
        - name: voice_ids
          in: query
          description: Voice IDs to lookup by. Maximum 100 voice IDs.
          schema:
            title: Voice Ids
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
            description: Voice IDs to lookup by. Maximum 100 voice IDs.
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesV2ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: search
  /v1/voices/settings/default:
    get:
      tags:
        - voices
      summary: Get Default Voice Settings.
      description: Gets the default settings for voices. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: get_voice_settings_default
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
      x-fern-sdk-group-name:
        - voices
        - settings
      x-fern-sdk-method-name: get_default
  '/v1/voices/{voice_id}/settings':
    get:
      tags:
        - voices
      summary: Get Voice Settings
      description: Returns the settings for a specific voice. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: get_voice_settings
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - voices
        - settings
      x-fern-sdk-method-name: get
  '/v1/voices/{voice_id}':
    get:
      tags:
        - voices
      summary: Get Voice
      description: Returns metadata about a specific voice.
      operationId: get_voice_by_id
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            examples:
              - 21m00Tcm4TlvDq8ikWAM
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
        - name: with_settings
          in: query
          description: This parameter is now deprecated. It is ignored and will be removed in a future version.
          deprecated: true
          schema:
            title: With Settings
            type: boolean
            description: This parameter is now deprecated. It is ignored and will be removed in a future version.
            default: true
            deprecated: true
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            anyOf:
              - type: string
              - type: 'null'
            description: Your API key. This is required by most endpoints to access our API programmatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
[...]
