openapi: 3.0.1
info:
  title: ElevenLabs API Documentation
  description: 'This is the documentation for the ElevenLabs API. You can use this API to use our service programmatically, this is done by using your xi-api-key. <br/> You can view your xi-api-key using the ''Profile'' tab on https://elevenlabs.io. Our API is experimental so all endpoints are subject to change.'
  version: '1.0'
servers:
  - url: https://api.elevenlabs.io
paths:
  /v1/history:
    get:
      tags:
        - speech-history
      summary: Get Generated Items
      description: Returns metadata about all your generated audio.
      operationId: Get_generated_items_v1_history_get
      parameters:
        - name: page_size
          in: query
          description: 'How many history items to return at maximum. Can not exceed 1000, defaults to 100.'
          schema:
            title: Page Size
            type: integer
            description: 'How many history items to return at maximum. Can not exceed 1000, defaults to 100.'
            default: 100
        - name: start_after_history_item_id
          in: query
          description: 'After which ID to start fetching, use this parameter to paginate across a large collection of history items. In case this parameter is not provided history items will be fetched starting from the most recently created one ordered descending by their creation date.'
          schema:
            title: Start After History Item Id
            type: string
            description: 'After which ID to start fetching, use this parameter to paginate across a large collection of history items. In case this parameter is not provided history items will be fetched starting from the most recently created one ordered descending by their creation date.'
        - name: voice_id
          in: query
          description: 'Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices to receive a list of voices and their IDs.'
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices to receive a list of voices and their IDs.'
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpeechHistoryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.history.get_all(\n    page_size=1,\n    voice_id=\"pMsXgVXv3BLzUgSXRplE\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.history.getAll({\n    page_size: 1,\n    voice_id: \"pMsXgVXv3BLzUgSXRplE\"\n});\n"
  '/v1/history/{history_item_id}':
    get:
      tags:
        - speech-history
      summary: Get History Item By Id
      description: Returns information about an history item by its ID.
      operationId: Get_history_item_by_ID_v1_history__history_item_id__get
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechHistoryItemResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.history.get(\n    history_item_id=\"ja9xsmfGhxYcymxGcOGB\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.history.get(\"ja9xsmfGhxYcymxGcOGB\");\n"
    delete:
      tags:
        - speech-history
      summary: Delete History Item
      description: Delete a history item by its ID
      operationId: Delete_history_item_v1_history__history_item_id__delete
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.history.delete(\n    history_item_id=\"ja9xsmfGhxYcymxGcOGB\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.history.delete(\"ja9xsmfGhxYcymxGcOGB\");\n"
  '/v1/history/{history_item_id}/audio':
    get:
      tags:
        - speech-history
      summary: Get Audio From History Item
      description: Returns the audio of an history item.
      operationId: Get_audio_from_history_item_v1_history__history_item_id__audio_get
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.history.get_audio(\n    history_item_id=\"ja9xsmfGhxYcymxGcOGB\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.history.getAudio(\"ja9xsmfGhxYcymxGcOGB\");\n"
  /v1/history/download:
    post:
      tags:
        - speech-history
      summary: Download History Items
      description: 'Download one or more history items. If one history item ID is provided, we will return a single audio file. If more than one history item IDs are provided, we will provide the history items packed into a .zip file.'
      operationId: Download_history_items_v1_history_download_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Download_history_items_v1_history_download_post'
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.history.download(\n    history_item_ids=[\"ja9xsmfGhxYcymxGcOGB\"],\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.history.download({\n    history_item_ids: [\"ja9xsmfGhxYcymxGcOGB\"]\n});\n"
  /v1/sound-generation:
    post:
      tags:
        - sound-generation
      summary: Sound Generation
      description: Converts a text of your choice into sound
      operationId: Sound_Generation_v1_sound_generation_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Sound_Generation_v1_sound_generation_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.text_to_sound_effects.convert(\n    text=\"string\",\n    duration_seconds=1.1,\n    prompt_influence=1.1,\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.textToSoundEffects.convert({\n    text: \"string\",\n    duration_seconds: 1.1,\n    prompt_influence: 1.1\n});\n"
  /v1/audio-isolation:
    post:
      tags:
        - audio-isolation
      summary: Audio Isolation
      description: Removes background noise from audio
      operationId: Audio_Isolation_v1_audio_isolation_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Audio_Isolation_v1_audio_isolation_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.audio_isolation.audio_isolation()\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\nimport * as fs from \"fs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.audioIsolation.audioIsolation({\n    audio: fs.createReadStream(\"/path/to/your/file\")\n});\n"
  /v1/audio-isolation/stream:
    post:
      tags:
        - audio-isolation
      summary: Audio Isolation Stream
      description: Removes background noise from audio and streams the result
      operationId: Audio_Isolation_Stream_v1_audio_isolation_stream_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Audio_Isolation_Stream_v1_audio_isolation_stream_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.audio_isolation.audio_isolation_stream()\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\nimport * as fs from \"fs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.audioIsolation.audioIsolationStream({\n    audio: fs.createReadStream(\"/path/to/your/file\")\n});\n"
  '/v1/voices/{voice_id}/samples/{sample_id}':
    delete:
      tags:
        - samples
      summary: Delete Sample
      description: Removes a sample by its ID.
      operationId: Delete_sample_v1_voices__voice_id__samples__sample_id__delete
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: sample_id
          in: path
          description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          required: true
          schema:
            title: Sample Id
            type: string
            description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.samples.delete(\n    voice_id=\"ja9xsmfGhxYcymxGcOGB\",\n    sample_id=\"pMsXgVXv3BLzUgSXRplE\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.samples.delete(\"ja9xsmfGhxYcymxGcOGB\", \"pMsXgVXv3BLzUgSXRplE\");\n"
  '/v1/voices/{voice_id}/samples/{sample_id}/audio':
    get:
      tags:
        - samples
      summary: Get Audio From Sample
      description: Returns the audio corresponding to a sample attached to a voice.
      operationId: Get_audio_from_sample_v1_voices__voice_id__samples__sample_id__audio_get
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: sample_id
          in: path
          description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          required: true
          schema:
            title: Sample Id
            type: string
            description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            audio/*: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.samples.get_audio(\n    voice_id=\"ja9xsmfGhxYcymxGcOGB\",\n    sample_id=\"pMsXgVXv3BLzUgSXRplE\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.samples.getAudio(\"ja9xsmfGhxYcymxGcOGB\", \"pMsXgVXv3BLzUgSXRplE\");\n"
  '/v1/text-to-speech/{voice_id}':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech
      description: Converts text into speech using a voice of your choice and returns audio.
      operationId: Text_to_speech_v1_text_to_speech__voice_id__post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
        - name: output_format
          in: query
          description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
          schema:
            title: Output format of the generated audio.
            type: string
            description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_v1_text_to_speech__voice_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs, VoiceSettings\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.text_to_speech.convert(\n    voice_id=\"pMsXgVXv3BLzUgSXRplE\",\n    optimize_streaming_latency=\"0\",\n    output_format=\"mp3_22050_32\",\n    text=\"It sure does, Jackie… My mama always said: “In Carolina, the air's so thick you can wear it!”\",\n    voice_settings=VoiceSettings(\n        stability=0.1,\n        similarity_boost=0.3,\n        style=0.2,\n    ),\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient, ElevenLabs } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.textToSpeech.convert(\"pMsXgVXv3BLzUgSXRplE\", {\n    optimize_streaming_latency: ElevenLabs.OptimizeStreamingLatency.Zero,\n    output_format: ElevenLabs.OutputFormat.Mp32205032,\n    text: \"It sure does, Jackie\\u2026 My mama always said: \\u201CIn Carolina, the air's so thick you can wear it!\\u201D\",\n    voice_settings: {\n        stability: 0.1,\n        similarity_boost: 0.3,\n        style: 0.2\n    }\n});\n"
  '/v1/text-to-speech/{voice_id}/with-timestamps':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech With Timestamps
      description: Converts text into speech using a voice of your choice and returns JSON containing audio as a base64 encoded string together with information on when which character was spoken.
      operationId: Text_to_speech_with_timestamps_v1_text_to_speech__voice_id__with_timestamps_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
        - name: output_format
          in: query
          description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
          schema:
            title: Output format of the generated audio.
            type: string
            description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_with_timestamps_v1_text_to_speech__voice_id__with_timestamps_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.text_to_speech.convert_with_timestamps(\n    voice_id=\"21m00Tcm4TlvDq8ikWAM\",\n    text=\"text\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.textToSpeech.convertWithTimestamps(\"21m00Tcm4TlvDq8ikWAM\", {\n    text: \"text\"\n});\n"
  '/v1/text-to-speech/{voice_id}/stream':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech Streaming
      description: Converts text into speech using a voice of your choice and returns audio as an audio stream.
      operationId: Text_to_speech_streaming_v1_text_to_speech__voice_id__stream_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
        - name: output_format
          in: query
          description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
          schema:
            title: Output format of the generated audio.
            type: string
            description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_streaming_v1_text_to_speech__voice_id__stream_post'
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs, VoiceSettings\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.text_to_speech.convert_as_stream(\n    voice_id=\"pMsXgVXv3BLzUgSXRplE\",\n    optimize_streaming_latency=\"0\",\n    output_format=\"mp3_22050_32\",\n    text=\"It sure does, Jackie… My mama always said: “In Carolina, the air's so thick you can wear it!”\",\n    voice_settings=VoiceSettings(\n        stability=0.1,\n        similarity_boost=0.3,\n        style=0.2,\n    ),\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient, ElevenLabs } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.textToSpeech.convertAsStream(\"pMsXgVXv3BLzUgSXRplE\", {\n    optimize_streaming_latency: ElevenLabs.OptimizeStreamingLatency.Zero,\n    output_format: ElevenLabs.OutputFormat.Mp32205032,\n    text: \"It sure does, Jackie\\u2026 My mama always said: \\u201CIn Carolina, the air's so thick you can wear it!\\u201D\",\n    voice_settings: {\n        stability: 0.1,\n        similarity_boost: 0.3,\n        style: 0.2\n    }\n});\n"
  '/v1/text-to-speech/{voice_id}/stream/with-timestamps':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech Streaming With Timestamps
      description: Converts text into speech using a voice of your choice and returns a stream of JSONs containing audio as a base64 encoded string together with information on when which character was spoken.
      operationId: Text_to_speech_streaming_with_timestamps_v1_text_to_speech__voice_id__stream_with_timestamps_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
        - name: output_format
          in: query
          description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
          schema:
            title: Output format of the generated audio.
            type: string
            description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_streaming_with_timestamps_v1_text_to_speech__voice_id__stream_with_timestamps_post'
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.text_to_speech.stream_with_timestamps(\n    voice_id=\"21m00Tcm4TlvDq8ikWAM\",\n    text=\"text\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.textToSpeech.streamWithTimestamps(\"21m00Tcm4TlvDq8ikWAM\", {\n    text: \"text\"\n});\n"
  '/v1/speech-to-speech/{voice_id}':
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech
      description: Create speech by combining the content and emotion of the uploaded audio with a voice of your choice.
      operationId: Speech_to_Speech_v1_speech_to_speech__voice_id__post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
        - name: output_format
          in: query
          description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
          schema:
            title: Output format of the generated audio.
            type: string
            description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.speech_to_speech.convert(\n    voice_id=\"string\",\n    enable_logging=True,\n    optimize_streaming_latency=\"0\",\n    output_format=\"mp3_22050_32\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient, ElevenLabs } from \"elevenlabs\";\nimport * as fs from \"fs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.speechToSpeech.convert(\"string\", {\n    audio: fs.createReadStream(\"/path/to/your/file\"),\n    enable_logging: true,\n    optimize_streaming_latency: ElevenLabs.OptimizeStreamingLatency.Zero,\n    output_format: ElevenLabs.OutputFormat.Mp32205032\n});\n"
  '/v1/speech-to-speech/{voice_id}/stream':
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech Streaming
      description: Create speech by combining the content and emotion of the uploaded audio with a voice of your choice and returns an audio stream.
      operationId: Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false full privacy mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Full privacy mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
        - name: output_format
          in: query
          description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
          schema:
            title: Output format of the generated audio.
            type: string
            description: "Output format of the generated audio. Must be one of:\nmp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.\nmp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.\nmp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.\nmp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.\nmp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.\nmp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.\npcm_16000 - PCM format (S16LE) with 16kHz sample rate.\npcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.\npcm_24000 - PCM format (S16LE) with 24kHz sample rate.\npcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Pro tier or above.\nulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.\n"
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post'
        required: true
      responses:
        '200':
          description: Successful Response
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voice-generation/generate-voice/parameters:
    get:
      tags:
        - voice-generation
      summary: Voice Generation Parameters
      description: Get possible parameters for the /v1/voice-generation/generate-voice endpoint.
      operationId: Voice_Generation_Parameters_v1_voice_generation_generate_voice_parameters_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceGenerationParameterResponseModel'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.voice_generation.generate_parameters()\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.voiceGeneration.generateParameters();\n"
  /v1/voice-generation/generate-voice:
    post:
      tags:
        - voice-generation
      summary: Generate A Random Voice
      description: 'Generate a random voice based on parameters. This method returns a generated_voice_id in the response header, and a sample of the voice in the body. If you like the generated voice call /v1/voice-generation/create-voice with the generated_voice_id to create the voice.'
      operationId: Generate_a_random_voice_v1_voice_generation_generate_voice_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Generate_a_random_voice_v1_voice_generation_generate_voice_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voice-generation/create-voice:
    post:
      tags:
        - voice-generation
      summary: Create A Previously Generated Voice
      description: Create a previously generated voice. This endpoint should be called after you fetched a generated_voice_id using /v1/voice-generation/generate-voice.
      operationId: Create_a_previously_generated_voice_v1_voice_generation_create_voice_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_a_previously_generated_voice_v1_voice_generation_create_voice_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.voice_generation.create_a_previously_generated_voice(\n    voice_name=\"Alex\",\n    voice_description=\"Middle-aged American woman\",\n    generated_voice_id=\"rbVJFu6SGRD1dbWpKnWl\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.voiceGeneration.createAPreviouslyGeneratedVoice({\n    voice_name: \"Alex\",\n    voice_description: \"Middle-aged American woman\",\n    generated_voice_id: \"rbVJFu6SGRD1dbWpKnWl\"\n});\n"
  /v1/user/subscription:
    get:
      tags:
        - user
      summary: Get User Subscription Info
      description: Gets extended information about the users subscription
      operationId: Get_user_subscription_info_v1_user_subscription_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedSubscriptionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/user:
    get:
      tags:
        - user
      summary: Get User Info
      description: Gets information about the user
      operationId: Get_user_info_v1_user_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices:
    get:
      tags:
        - voices
      summary: Get Voices
      description: Gets a list of all available voices for a user.
      operationId: Get_voices_v1_voices_get
      parameters:
        - name: show_legacy
          in: query
          description: 'If set to true, legacy premade voices will be included in responses from /v1/voices'
          schema:
            title: Show Legacy
            type: boolean
            description: 'If set to true, legacy premade voices will be included in responses from /v1/voices'
            default: false
          example: true
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/settings/default:
    get:
      tags:
        - voices
      summary: Get Default Voice Settings.
      description: Gets the default settings for voices. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: Get_default_voice_settings__v1_voices_settings_default_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
  '/v1/voices/{voice_id}/settings':
    get:
      tags:
        - voices
      summary: Get Voice Settings
      description: Returns the settings for a specific voice. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: Get_voice_settings_v1_voices__voice_id__settings_get
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/voices/{voice_id}':
    get:
      tags:
        - voices
      summary: Get Voice
      description: Returns metadata about a specific voice.
      operationId: Get_voice_v1_voices__voice_id__get
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: with_settings
          in: query
          description: 'If set will return settings information corresponding to the voice, requires authorization.'
          schema:
            title: With Settings
            type: boolean
            description: 'If set will return settings information corresponding to the voice, requires authorization.'
            default: false
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    delete:
      tags:
        - voices
      summary: Delete Voice
      description: Deletes a voice by its ID.
      operationId: Delete_voice_v1_voices__voice_id__delete
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/voices/{voice_id}/settings/edit':
    post:
      tags:
        - voices
      summary: Edit Voice Settings
      description: Edit your settings for a specific voice. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: Edit_voice_settings_v1_voices__voice_id__settings_edit_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              title: Settings
              allOf:
                - $ref: '#/components/schemas/VoiceSettingsResponseModel'
              description: The settings for a specific voice.
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/voices/add:
    post:
      tags:
        - voices
      summary: Add Voice
      description: Add a new voice to your collection of voices in VoiceLab.
      operationId: Add_voice_v1_voices_add_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_voice_v1_voices_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.voices.add(\n    name=\"Alex\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\nimport * as fs from \"fs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.voices.add({\n    files: [fs.createReadStream(\"/path/to/your/file\")],\n    name: \"Alex\"\n});\n"
  '/v1/voices/{voice_id}/edit':
    post:
      tags:
        - voices
      summary: Edit Voice
      description: Edit a voice created by you.
      operationId: Edit_voice_v1_voices__voice_id__edit_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Edit_voice_v1_voices__voice_id__edit_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/voices/add/{public_user_id}/{voice_id}':
    post:
      tags:
        - voices
      summary: Add Sharing Voice
      description: Add a sharing voice to your collection of voices in VoiceLab.
      operationId: Add_sharing_voice_v1_voices_add__public_user_id___voice_id__post
      parameters:
        - name: public_user_id
          in: path
          description: Public user ID used to publicly identify ElevenLabs users.
          required: true
          schema:
            title: Public User Id
            type: string
            description: Public user ID used to publicly identify ElevenLabs users.
          example: 63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Add_sharing_voice_v1_voices_add__public_user_id___voice_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects:
    get:
      tags:
        - projects
      summary: Get Projects
      description: Returns a list of your projects together and its metadata.
      operationId: Get_projects_v1_projects_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v1/projects/add:
    post:
      tags:
        - projects
      summary: Add Project
      description: 'Creates a new project, it can be either initialized as blank, from a document or from a URL.'
      operationId: Add_project_v1_projects_add_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_project_v1_projects_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/v1/projects/{project_id}':
    get:
      tags:
        - projects
      summary: Get Project By Id
      description: Returns information about a specific project. This endpoint returns more detailed information about a project than GET api.elevenlabs.io/v1/projects.
      operationId: Get_project_by_ID_v1_projects__project_id__get
      parameters:
        - name: project_id
          in: path
          description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          required: true
          schema:
            title: Project Id
            type: string
            description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectExtendedResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.projects.get(\n    project_id=\"21m00Tcm4TlvDq8ikWAM\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.projects.get(\"21m00Tcm4TlvDq8ikWAM\");\n"
    post:
      tags:
        - projects
      summary: Edit Basic Project Info
      description: Edits basic project info.
      operationId: Edit_basic_project_info_v1_projects__project_id__post
      parameters:
        - name: project_id
          in: path
          description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          required: true
          schema:
            title: Project Id
            type: string
            description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Edit_basic_project_info_v1_projects__project_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.projects.edit_basic_project_info(\n    project_id=\"21m00Tcm4TlvDq8ikWAM\",\n    name=\"name\",\n    default_title_voice_id=\"default_title_voice_id\",\n    default_paragraph_voice_id=\"default_paragraph_voice_id\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.projects.editBasicProjectInfo(\"21m00Tcm4TlvDq8ikWAM\", {\n    name: \"name\",\n    default_title_voice_id: \"default_title_voice_id\",\n    default_paragraph_voice_id: \"default_paragraph_voice_id\"\n});\n"
    delete:
      tags:
        - projects
      summary: Delete Project
      description: Delete a project by its project_id.
      operationId: Delete_project_v1_projects__project_id__delete
      parameters:
        - name: project_id
          in: path
          description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          required: true
          schema:
            title: Project Id
            type: string
            description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.projects.delete(\n    project_id=\"21m00Tcm4TlvDq8ikWAM\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.projects.delete(\"21m00Tcm4TlvDq8ikWAM\");\n"
  '/v1/projects/{project_id}/convert':
    post:
      tags:
        - projects
      summary: Convert Project
      description: Starts conversion of a project and all of its chapters.
      operationId: Convert_project_v1_projects__project_id__convert_post
      parameters:
        - name: project_id
          in: path
          description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          required: true
          schema:
            title: Project Id
            type: string
            description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.projects.convert(\n    project_id=\"21m00Tcm4TlvDq8ikWAM\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.projects.convert(\"21m00Tcm4TlvDq8ikWAM\");\n"
  '/v1/projects/{project_id}/snapshots':
    get:
      tags:
        - projects
      summary: Get Project Snapshots
      description: Gets the snapshots of a project.
      operationId: Get_project_snapshots_v1_projects__project_id__snapshots_get
      parameters:
        - name: project_id
          in: path
          description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          required: true
          schema:
            title: Project Id
            type: string
            description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSnapshotsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-codeSamples:
        - lang: Python
          source: "from elevenlabs import ElevenLabs\n\nclient = ElevenLabs(\n    api_key=\"YOUR_API_KEY\",\n)\nclient.projects.get_snapshots(\n    project_id=\"21m00Tcm4TlvDq8ikWAM\",\n)\n"
        - lang: JavaScript
          source: "import { ElevenLabsClient } from \"elevenlabs\";\n\nconst client = new ElevenLabsClient({ apiKey: \"YOUR_API_KEY\" });\nawait client.projects.getSnapshots(\"21m00Tcm4TlvDq8ikWAM\");\n"
  '/v1/projects/{project_id}/snapshots/{project_snapshot_id}/stream':
    post:
      tags:
        - projects
      summary: Stream Project Audio
      description: Stream the audio from a project snapshot.
      operationId: Stream_project_audio_v1_projects__project_id__snapshots__project_snapshot_id__stream_post
      parameters:
        - name: project_id
          in: path
          description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          required: true
          schema:
            title: Project Id
            type: string
            description: 'The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects to list all available projects.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: project_snapshot_id
          in: path
          description: 'The project_snapshot_id of the project snapshot. You can query GET /v1/projects/{project_id}/snapshots to list all available snapshots for a project.'
          required: true
          schema:
            title: Project Snapshot Id
            type: string
            description: 'The project_snapshot_id of the project snapshot. You can query GET /v1/projects/{project_id}/snapshots to list all available snapshots for a project.'
          example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
[...]
