openapi: 3.0.4
info:
  title: ElevenLabs API Documentation
  description: 'This is the documentation for the ElevenLabs API. You can use this API to use our service programmatically, this is done by using your xi-api-key. <br/> You can view your xi-api-key using the ''Profile'' tab on https://elevenlabs.io. Our API is experimental so all endpoints are subject to change.'
  version: '1.0'
servers:
  - url: https://api.elevenlabs.io
paths:
  /v1/history:
    get:
      tags:
        - speech-history
      summary: List Generated Items
      description: Returns a list of your generated audio.
      operationId: List_generated_items_v1_history_get
      parameters:
        - name: page_size
          in: query
          description: 'How many history items to return at maximum. Can not exceed 1000, defaults to 100.'
          schema:
            title: Page Size
            type: integer
            description: 'How many history items to return at maximum. Can not exceed 1000, defaults to 100.'
            default: 100
        - name: start_after_history_item_id
          in: query
          description: 'After which ID to start fetching, use this parameter to paginate across a large collection of history items. In case this parameter is not provided history items will be fetched starting from the most recently created one ordered descending by their creation date.'
          schema:
            title: Start After History Item Id
            type: string
            description: 'After which ID to start fetching, use this parameter to paginate across a large collection of history items. In case this parameter is not provided history items will be fetched starting from the most recently created one ordered descending by their creation date.'
            nullable: true
        - name: voice_id
          in: query
          description: 'Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices to receive a list of voices and their IDs.'
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices to receive a list of voices and their IDs.'
            nullable: true
        - name: search
          in: query
          description: search term used for filtering
          schema:
            title: Search
            type: string
            description: search term used for filtering
            nullable: true
            example: In the land far far away
        - name: source
          in: query
          description: Source of the generated history item
          schema:
            title: Source
            enum:
              - TTS
              - STS
            type: string
            description: Source of the generated history item
            nullable: true
            example: TTS
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpeechHistoryResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: get_all
  '/v1/history/{history_item_id}':
    get:
      tags:
        - speech-history
      summary: Get History Item
      description: Retrieves a history item.
      operationId: Get_history_item_v1_history__history_item_id__get
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
            example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechHistoryItemResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: get
    delete:
      tags:
        - speech-history
      summary: Delete History Item
      description: Delete a history item by its ID
      operationId: Delete_history_item_v1_history__history_item_id__delete
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
            example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteHistoryItemResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: delete
  '/v1/history/{history_item_id}/audio':
    get:
      tags:
        - speech-history
      summary: Get Audio From History Item
      description: Returns the audio of an history item.
      operationId: Get_audio_from_history_item_v1_history__history_item_id__audio_get
      parameters:
        - name: history_item_id
          in: path
          description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
          required: true
          schema:
            title: History Item Id
            type: string
            description: 'History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history to receive a list of history items and their IDs.'
            example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: The audio file of the history item.
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: get_audio
  /v1/history/download:
    post:
      tags:
        - speech-history
      summary: Download History Items
      description: 'Download one or more history items. If one history item ID is provided, we will return a single audio file. If more than one history item IDs are provided, we will provide the history items packed into a .zip file.'
      operationId: Download_history_items_v1_history_download_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Download_history_items_v1_history_download_post'
        required: true
      responses:
        '200':
          description: 'The requested audio file, or a zip file containing multiple audio files when multiple history items are requested.'
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '400':
          description: Invalid request
          content:
            application/json:
              example:
                error: invalid_output_format
                message: output_format must be wav or none
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: history
      x-fern-sdk-method-name: download
  /v1/sound-generation:
    post:
      tags:
        - sound-generation
      summary: Sound Generation
      description: 'Turn text into sound effects for your videos, voice-overs or video games using the most advanced sound effects model in the world.'
      operationId: Sound_Generation_v1_sound_generation_post
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Sound_Generation_v1_sound_generation_post'
        required: true
      responses:
        '200':
          description: The generated sound effect as an MP3 file
          headers:
            character-cost:
              description: The number of characters used for billing
              schema:
                type: string
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_sound_effects
      x-fern-sdk-method-name: convert
  /v1/audio-isolation:
    post:
      tags:
        - audio-isolation
      summary: Audio Isolation
      description: Removes background noise from audio
      operationId: Audio_Isolation_v1_audio_isolation_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Audio_Isolation_v1_audio_isolation_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: audio_isolation
      x-fern-sdk-method-name: audio_isolation
  /v1/audio-isolation/stream:
    post:
      tags:
        - audio-isolation
      summary: Audio Isolation Stream
      description: Removes background noise from audio and streams the result
      operationId: Audio_Isolation_Stream_v1_audio_isolation_stream_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Audio_Isolation_Stream_v1_audio_isolation_stream_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: audio_isolation
      x-fern-sdk-method-name: audio_isolation_stream
      x-fern-streaming: true
  '/v1/voices/{voice_id}/samples/{sample_id}':
    delete:
      tags:
        - samples
      summary: Delete Sample
      description: Removes a sample by its ID.
      operationId: Delete_sample_v1_voices__voice_id__samples__sample_id__delete
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: sample_id
          in: path
          description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          required: true
          schema:
            title: Sample Id
            type: string
            description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
            example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteSampleResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: samples
      x-fern-sdk-method-name: delete
  '/v1/voices/{voice_id}/samples/{sample_id}/audio':
    get:
      tags:
        - samples
      summary: Get Audio From Sample
      description: Returns the audio corresponding to a sample attached to a voice.
      operationId: Get_audio_from_sample_v1_voices__voice_id__samples__sample_id__audio_get
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: sample_id
          in: path
          description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
          required: true
          schema:
            title: Sample Id
            type: string
            description: 'Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id} to list all the available samples for a voice.'
            example: VW7YKqPnjY4h39yTbx2L
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/*: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: samples
      x-fern-sdk-method-name: get_audio
  '/v1/text-to-speech/{voice_id}':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech
      description: Converts text into speech using a voice of your choice and returns audio.
      operationId: Text_to_speech_v1_text_to_speech__voice_id__post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            nullable: true
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_v1_text_to_speech__voice_id__post'
        required: true
      responses:
        '200':
          description: The generated audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: convert
  '/v1/text-to-speech/{voice_id}/with-timestamps':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech With Timestamps
      description: Generate speech from text with precise character-level timing information for audio-text synchronization.
      operationId: Text_to_speech_with_timestamps_v1_text_to_speech__voice_id__with_timestamps_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            nullable: true
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_with_timestamps_v1_text_to_speech__voice_id__with_timestamps_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioWithTimestampsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: convert_with_timestamps
  '/v1/text-to-speech/{voice_id}/stream':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech Streaming
      description: Converts text into speech using a voice of your choice and returns audio as an audio stream.
      operationId: Text_to_speech_streaming_v1_text_to_speech__voice_id__stream_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            nullable: true
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_streaming_v1_text_to_speech__voice_id__stream_post'
        required: true
      responses:
        '200':
          description: Streaming audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: convert_as_stream
      x-fern-streaming: true
  '/v1/text-to-speech/{voice_id}/stream/with-timestamps':
    post:
      tags:
        - text-to-speech
      summary: Text To Speech Streaming With Timestamps
      description: Converts text into speech using a voice of your choice and returns a stream of JSONs containing audio as a base64 encoded string together with information on when which character was spoken.
      operationId: Text_to_speech_streaming_with_timestamps_v1_text_to_speech__voice_id__stream_with_timestamps_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            nullable: true
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_streaming_with_timestamps_v1_text_to_speech__voice_id__stream_with_timestamps_post'
        required: true
      responses:
        '200':
          description: Stream of transcription chunks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingAudioChunkWithTimestampsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_speech
      x-fern-sdk-method-name: stream_with_timestamps
      x-fern-streaming: true
  '/v1/speech-to-speech/{voice_id}':
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech
      description: 'Transform audio from one voice to another. Maintain full control over emotion, timing and delivery.'
      operationId: Speech_to_Speech_v1_speech_to_speech__voice_id__post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            nullable: true
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post'
        required: true
      responses:
        '200':
          description: The generated audio file
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: speech_to_speech
      x-fern-sdk-method-name: convert
  '/v1/speech-to-speech/{voice_id}/stream':
    post:
      tags:
        - speech-to-speech
      summary: Speech To Speech Streaming
      description: 'Stream audio from one voice to another. Maintain full control over emotion, timing and delivery.'
      operationId: Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: enable_logging
          in: query
          description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
          schema:
            title: Enable request logging.
            type: boolean
            description: 'When enable_logging is set to false zero retention mode will be used for the request. This will mean history features are unavailable for this request, including request stitching. Zero retention mode may only be used by enterprise customers.'
            default: true
        - name: optimize_streaming_latency
          in: query
          description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
          deprecated: true
          schema:
            title: DEPRECATED. How much we should optimize streaming request latency (time to first audio byte).
            type: integer
            description: "You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:\n0 - default mode (no latency optimizations)\n1 - normal latency optimizations (about 50% of possible latency improvement of option 3)\n2 - strong latency optimizations (about 75% of possible latency improvement of option 3)\n3 - max latency optimizations\n4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).\n\nDefaults to None.\n"
            nullable: true
            deprecated: true
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_128
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post'
        required: true
      responses:
        '200':
          description: Streaming audio data
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: speech_to_speech
      x-fern-sdk-method-name: convert_as_stream
      x-fern-streaming: true
  /v1/voice-generation/generate-voice/parameters:
    get:
      tags:
        - voice-generation
      summary: Voice Generation Parameters
      description: Get possible parameters for the /v1/voice-generation/generate-voice endpoint.
      operationId: Voice_Generation_Parameters_v1_voice_generation_generate_voice_parameters_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceGenerationParameterResponseModel'
      x-fern-sdk-group-name: voice_generation
      x-fern-sdk-method-name: generate_parameters
  /v1/voice-generation/generate-voice:
    post:
      tags:
        - voice-generation
      summary: Generate A Random Voice
      description: 'Generate a random voice based on parameters. This method returns a generated_voice_id in the response header, and a sample of the voice in the body. If you like the generated voice call /v1/voice-generation/create-voice with the generated_voice_id to create the voice.'
      operationId: Generate_a_random_voice_v1_voice_generation_generate_voice_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Generate_a_random_voice_v1_voice_generation_generate_voice_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            audio/mpeg: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voice_generation
      x-fern-sdk-method-name: generate
  /v1/text-to-voice/create-previews:
    post:
      tags:
        - text-to-voice
      summary: Generate A Voice Preview From Description
      description: Generate a custom voice based on voice description. This method returns a list of voice previews. Each preview has a generated_voice_id and a sample of the voice as base64 encoded mp3 audio. If you like the a voice previewand want to create the voice call /v1/text-to-voice/create-voice-from-preview with the generated_voice_id to create the voice.
      operationId: Generate_a_voice_preview_from_description_v1_text_to_voice_create_previews_post
      parameters:
        - name: output_format
          in: query
          description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
          schema:
            title: Output format of the generated audio.
            enum:
              - mp3_22050_32
              - mp3_44100_32
              - mp3_44100_64
              - mp3_44100_96
              - mp3_44100_128
              - mp3_44100_192
              - pcm_8000
              - pcm_16000
              - pcm_22050
              - pcm_24000
              - pcm_44100
              - ulaw_8000
              - opus_48000_32
              - opus_48000_64
              - opus_48000_96
              - opus_48000_128
              - opus_48000_192
            type: string
            description: 'Output format of the generated audio. Formatted as codec_sample_rate_bitrate. So an mp3 with 22.05kHz sample rate at 32kbs is represented as mp3_22050_32. MP3 with 192kbps bitrate requires you to be subscribed to Creator tier or above. PCM with 44.1kHz sample rate requires you to be subscribed to Pro tier or above. Note that the μ-law format (sometimes written mu-law, often approximated as u-law) is commonly used for Twilio audio inputs.'
            default: mp3_44100_192
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoicePreviewsRequestModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicePreviewsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_voice
      x-fern-sdk-method-name: create_previews
  /v1/voice-generation/create-voice:
    post:
      tags:
        - voice-generation
      summary: Create A Previously Generated Voice
      description: Create a previously generated voice. This endpoint should be called after you fetched a generated_voice_id using /v1/voice-generation/generate-voice.
      operationId: Create_a_previously_generated_voice_v1_voice_generation_create_voice_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_a_previously_generated_voice_v1_voice_generation_create_voice_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voice_generation
      x-fern-sdk-method-name: create_a_previously_generated_voice
  /v1/text-to-voice/create-voice-from-preview:
    post:
      tags:
        - text-to-voice
      summary: Create A New Voice From Voice Preview
      description: Create a voice from previously generated voice preview. This endpoint should be called after you fetched a generated_voice_id using POST /v1/text-to-voice/create-previews.
      operationId: Create_a_new_voice_from_voice_preview_v1_text_to_voice_create_voice_from_preview_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_a_new_voice_from_voice_preview_v1_text_to_voice_create_voice_from_preview_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: text_to_voice
      x-fern-sdk-method-name: create_voice_from_preview
  /v1/user/subscription:
    get:
      tags:
        - user
      summary: Get User Subscription Info
      description: Gets extended information about the users subscription
      operationId: Get_user_subscription_info_v1_user_subscription_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedSubscriptionResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: user
      x-fern-sdk-method-name: get_subscription
  /v1/user:
    get:
      tags:
        - user
      summary: Get User Info
      description: Gets information about the user
      operationId: Get_user_info_v1_user_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: user
      x-fern-sdk-method-name: get
  /v1/voices:
    get:
      tags:
        - voices
      summary: List Voices
      description: Returns a list of all available voices for a user.
      operationId: List_voices_v1_voices_get
      parameters:
        - name: show_legacy
          in: query
          description: 'If set to true, legacy premade voices will be included in responses from /v1/voices'
          schema:
            title: Show Legacy
            type: boolean
            description: 'If set to true, legacy premade voices will be included in responses from /v1/voices'
            default: false
            nullable: true
            example: true
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get_all
  /v2/voices:
    get:
      tags:
        - voices
      summary: Get Voices V2
      description: 'Gets a list of all available voices for a user with search, filtering and pagination.'
      operationId: Get_voices_v2_v2_voices_get
      parameters:
        - name: next_page_token
          in: query
          description: The next page token to use for pagination. Returned from the previous request.
          schema:
            title: Next Page Token
            type: string
            description: The next page token to use for pagination. Returned from the previous request.
            nullable: true
            example: '0'
        - name: page_size
          in: query
          description: 'How many voices to return at maximum. Can not exceed 100, defaults to 10. Page 0 may include more voices due to default voices being included.'
          schema:
            title: Page Size
            type: integer
            description: 'How many voices to return at maximum. Can not exceed 100, defaults to 10. Page 0 may include more voices due to default voices being included.'
            default: 10
        - name: search
          in: query
          description: 'Search term to filter voices by. Searches in name, description, labels, category.'
          schema:
            title: Search
            type: string
            description: 'Search term to filter voices by. Searches in name, description, labels, category.'
            nullable: true
        - name: sort
          in: query
          description: 'Which field to sort by, one of ''created_at_unix'' or ''name''. ''created_at_unix'' may not be available for older voices.'
          schema:
            title: Sort
            type: string
            description: 'Which field to sort by, one of ''created_at_unix'' or ''name''. ''created_at_unix'' may not be available for older voices.'
            nullable: true
            example: created_at_unix
        - name: sort_direction
          in: query
          description: Which direction to sort the voices in. 'asc' or 'desc'.
          schema:
            title: Sort Direction
            type: string
            description: Which direction to sort the voices in. 'asc' or 'desc'.
            nullable: true
            example: desc
        - name: voice_type
          in: query
          description: 'Type of the voice to filter by. One of ''personal'', ''community'', ''default'', ''workspace''.'
          schema:
            title: Voice Type
            type: string
            description: 'Type of the voice to filter by. One of ''personal'', ''community'', ''default'', ''workspace''.'
            nullable: true
        - name: category
          in: query
          description: 'Category of the voice to filter by. One of ''premade'', ''cloned'', ''generated'', ''professional'''
          schema:
            title: Category
            type: string
            description: 'Category of the voice to filter by. One of ''premade'', ''cloned'', ''generated'', ''professional'''
            nullable: true
        - name: fine_tuning_state
          in: query
          description: 'State of the voice''s fine tuning to filter by. Applicable only to professional voices clones. One of ''draft'', ''not_verified'', ''not_started'', ''queued'', ''fine_tuning'', ''fine_tuned'', ''failed'', ''delayed'''
          schema:
            title: Fine Tuning State
            type: string
            description: 'State of the voice''s fine tuning to filter by. Applicable only to professional voices clones. One of ''draft'', ''not_verified'', ''not_started'', ''queued'', ''fine_tuning'', ''fine_tuned'', ''failed'', ''delayed'''
            nullable: true
        - name: collection_id
          in: query
          description: Collection ID to filter voices by.
          schema:
            title: Collection Id
            type: string
            description: Collection ID to filter voices by.
            nullable: true
        - name: include_total_count
          in: query
          description: Whether to include the total count of voices found in the response. Incurs a performance cost.
          schema:
            title: Include Total Count
            type: boolean
            description: Whether to include the total count of voices found in the response. Incurs a performance cost.
            default: true
            example: true
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesV2ResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: search
  /v1/voices/settings/default:
    get:
      tags:
        - voices
      summary: Get Default Voice Settings.
      description: Gets the default settings for voices. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: Get_default_voice_settings__v1_voices_settings_default_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get_default_settings
  '/v1/voices/{voice_id}/settings':
    get:
      tags:
        - voices
      summary: Get Voice Settings
      description: Returns the settings for a specific voice. "similarity_boost" corresponds to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: Get_voice_settings_v1_voices__voice_id__settings_get
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get_settings
  '/v1/voices/{voice_id}':
    get:
      tags:
        - voices
      summary: Get Voice
      description: Returns metadata about a specific voice.
      operationId: Get_voice_v1_voices__voice_id__get
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: with_settings
          in: query
          description: This parameter is now deprecated. It is ignored and will be removed in a future version.
          deprecated: true
          schema:
            title: With Settings
            type: boolean
            description: This parameter is now deprecated. It is ignored and will be removed in a future version.
            default: true
            deprecated: true
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: get
    delete:
      tags:
        - voices
      summary: Delete Voice
      description: Deletes a voice by its ID.
      operationId: Delete_voice_v1_voices__voice_id__delete
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: delete
  '/v1/voices/{voice_id}/settings/edit':
    post:
      tags:
        - voices
      summary: Edit Voice Settings
      description: Edit your settings for a specific voice. "similarity_boost" corresponds to "Clarity + Similarity Enhancement" in the web app and "stability" corresponds to "Stability" slider in the web app.
      operationId: Edit_voice_settings_v1_voices__voice_id__settings_edit_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSettingsResponseModel'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditVoiceSettingsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: edit_settings
  /v1/voices/add:
    post:
      tags:
        - voices
      summary: Add Voice
      description: Add a new voice to your collection of voices in VoiceLab.
      operationId: Add_voice_v1_voices_add_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_voice_v1_voices_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceIVCResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: add
  '/v1/voices/{voice_id}/edit':
    post:
      tags:
        - voices
      summary: Edit Voice
      description: Edit a voice created by you.
      operationId: Edit_voice_v1_voices__voice_id__edit_post
      parameters:
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Edit_voice_v1_voices__voice_id__edit_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: edit
  '/v1/voices/add/{public_user_id}/{voice_id}':
    post:
      tags:
        - voices
      summary: Add Shared Voice
      description: Add a shared voice to your collection of voices.
      operationId: Add_shared_voice_v1_voices_add__public_user_id___voice_id__post
      parameters:
        - name: public_user_id
          in: path
          description: Public user ID used to publicly identify ElevenLabs users.
          required: true
          schema:
            title: Public User Id
            type: string
            description: Public user ID used to publicly identify ElevenLabs users.
            example: 63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca
        - name: voice_id
          in: path
          description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
          required: true
          schema:
            title: Voice Id
            type: string
            description: 'Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices to list all the available voices.'
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Add_shared_voice_v1_voices_add__public_user_id___voice_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: voices
      x-fern-sdk-method-name: add_sharing_voice
  /v1/studio/podcasts:
    post:
      tags:
        - studio
      summary: Create Podcast
      description: 'Create and auto-convert a podcast project. Currently, the LLM cost is covered by us but you will still be charged for the audio generation. In the future, you will be charged for both the LLM and audio generation costs.'
      operationId: Create_podcast_v1_studio_podcasts_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_podcast_v1_studio_podcasts_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name: studio
      x-fern-sdk-method-name: create_podcast
  /v1/projects/podcast/create:
    post:
      tags:
        - projects
      summary: Create Podcast
      description: 'Create and auto-convert a podcast project. Currently, the LLM cost is covered by us but you will still be charged for the audio generation. In the future, you will be charged for both the LLM and audio generation costs.'
      operationId: Create_podcast_v1_projects_podcast_create_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_podcast_v1_projects_podcast_create_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PodcastProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
  /v1/studio/projects:
    get:
      tags:
        - studio
      summary: List Studio Projects
      description: Returns a list of your Studio projects with metadata.
      operationId: List_Studio_projects_v1_studio_projects_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - studio
        - projects
      x-fern-sdk-method-name: get_all
    post:
      tags:
        - studio
      summary: Create Studio Project
      description: 'Creates a new Studio project, it can be either initialized as blank, from a document or from a URL.'
      operationId: Create_Studio_project_v1_studio_projects_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Create_Studio_project_v1_studio_projects_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - studio
        - projects
      x-fern-sdk-method-name: add
  /v1/projects:
    get:
      tags:
        - projects
      summary: Get Projects
      description: Returns a list of your projects together and its metadata.
      operationId: Get_projects_v1_projects_get
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
  /v1/projects/add:
    post:
      tags:
        - projects
      summary: Add Project
      description: 'Creates a new project, it can be either initialized as blank, from a document or from a URL.'
      operationId: Add_project_v1_projects_add_post
      parameters:
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_project_v1_projects_add_post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
  '/v1/studio/projects/{project_id}':
    post:
      tags:
        - studio
      summary: Update Studio Project
      description: Updates the specified Studio project by setting the values of the parameters passed.
      operationId: Update_Studio_project_v1_studio_projects__project_id__post
      parameters:
        - name: project_id
          in: path
          description: The ID of the Studio project.
          required: true
          schema:
            title: Project Id
            type: string
            description: The ID of the Studio project.
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
          description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
          schema:
            title: Xi-Api-Key
            type: string
            description: Your API key. This is required by most endpoints to access our API programatically. You can view your xi-api-key using the 'Profile' tab on the website.
            nullable: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Update_Studio_project_v1_studio_projects__project_id__post'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EditProjectResponseModel'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      x-fern-sdk-group-name:
        - studio
        - projects
      x-fern-sdk-method-name: update_metadata
    get:
      tags:
        - studio
      summary: Get Studio Project
      description: Returns information about a specific Studio project. This endpoint returns more detailed information about a project than `GET /v1/studio`.
      operationId: Get_Studio_project_v1_studio_projects__project_id__get
      parameters:
        - name: project_id
          in: path
          description: The ID of the Studio project.
          required: true
          schema:
            title: Project Id
            type: string
            description: The ID of the Studio project.
            example: 21m00Tcm4TlvDq8ikWAM
        - name: xi-api-key
          in: header
[...]
